<a href="https://colab.research.google.com/github/kzdanowski/KGN_Programownie1/blob/main/Lab/funkcje_semestr_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1 Funkcja is_even(n) zwracająca True, jeśli liczba całkowita n jest parzysta, w przeciwnym razie False. (typy podstawowe, instrukcja warunkowa)

def is_even(i: int) -> bool:
  return i % 2 == 0

is_even(2)

True

In [ ]:
# 2 Funkcja max_of_three(a, b, c) zwracająca największą z trzech liczb. (instrukcje warunkowe)

# def max_of_three(a, b, c):
#   if a > b | c:
#     return a
#   elif b > a |c:
#     return b
#   else:
#     return c


def max_of_three(a, b, c):
  l = [a,b,c]
  counter = l[0]
  for elem in l:
    if elem > counter:
      counter = elem
  return counter


max_of_three(-3,8,8)

8

In [ ]:
# 3 Funkcja count_down(n) wypisująca liczby od n do 0 (jedna na linię).(pętla while, wejście/wyjście)

def count_down(n):
  while n != 0:
    print(n)
    n -= 1

count_down(5)

5
4
3
2
1

In [ ]:
# 4 Funkcja sum_list(lst) zwracająca sumę elementów listy liczb. (listy, pętla for)

def sum_list(lst):
  counter = 0
  for elem in lst:
    counter += elem

  return counter

sum_list([1,1,1,1,1])

5

In [ ]:
# 5 Funkcja count_positive(lst) zwracająca liczbę elementów dodatnich w liście. (listy, warunki)

def count_positive(lst):
  new = []
  for elem in lst:
    if elem > 0:
      new.append(elem)
  return new

count_positive([-1,2,3,4,0,-9])

[2, 3, 4]

In [ ]:
# 6 Funkcja reverse_tuple(t) zwracająca nową krotkę z elementami w odwrotnej kolejności. (krotki, indeksowanie)

def reverse_tuple(t):
  return t[::-1]

reverse_tuple((1,2,3,4))

(4, 3, 2, 1)

In [ ]:
#  7 Funkcja count_vowels(text) zliczająca samogłoski w napisie. (ciągi znaków, pętla, in)

def count_vowels(text):
  vowels = 'a,o,e,u,i,y'
  counter = 0
  for ch in text:
    if ch in vowels:
      counter += 1
  return counter

count_vowels('mateusz')

3

In [ ]:
# 8 Funkcja is_palindrome(text) sprawdzająca, czy napis jest palindromem (bez ignorowania spacji i wielkości liter). (ciągi znaków)

def is_palindrome(text):
  return text == text[::-1]

is_palindrome('anna')

True

In [ ]:
# 9 Funkcja word_lengths(sentence) zwracająca listę długości kolejnych słów w zdaniu. (ciągi znaków, listy)

def word_lengths(sentence):
  lst = sentence.split()
  return [len(i) for i in lst]

word_lengths("ala ma kota")

['ala', 'ma', 'kota']

[3, 2, 4]

In [ ]:
# 10 Funkcja invert_dict(d) zamieniająca klucze ze wartościami (zakładamy, że wartości są unikalne). (słowniki)

def invert_dict(d):
  new = {}
  for key in d.keys():
    new[d[key]] = key
  return new


d = {'a':1, 'b':2, 'c': 3}

invert_dict(d)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# 11 Funkcja count_occurrences(lst) zwracająca słownik liczności elementów listy. (listy, słowniki)

def count_occurrences(lst):
  d = {}
  for elem in lst:
    if elem in d:
      d[elem] += 1
    else:
      d[elem] = 1
  return d

count_occurrences([1,1,2,2,3,3,4,4])

{1: 2, 2: 2, 3: 2, 4: 2}

In [ ]:
# 12 Funkcja rekurencyjna factorial(n) obliczająca silnię liczby naturalnej n. (rekurencja)

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

factorial(4)

24

In [ ]:
# 13 Funkcja safe_divide(a, b) zwracająca wynik dzielenia a / b, a w przypadku dzielenia przez zero wypisująca komunikat i zwracająca None. (wyjątki, try/except)

def safe_divide(a, b):
  try:
    return a/b
  except ZeroDivisionError as e:
    print(f"{e}")

safe_divide(6,0)

division by zero

In [ ]:
# 14 Funkcja extract_numbers(text) zwracająca listę liczb naturalnych występujących w napisie. (wyrażenia regularne)

import re
def extract_numbers(text):
  return re.findall(r'\d+', text)

extract_numbers('asdfha23lh3423hl45l33llhl6')

['23', '3423', '45', '33', '6']

In [ ]:
import json

osoba = {
    "name": "Anna",
    "surname": "Kowalska",
    "grades": [4, 5, 3, 5]
}

with open('student.json', 'w') as plik:
    json.dump(osoba, plik, indent=4, ensure_ascii=False)

### 15 Dany jest plik student.json o następującej treści:

    {
        "name": "Anna",
        "surname": "Kowalska",
        "grades": [4, 5, 3, 5]
    }


Napisz funkcję names(filename), która:

  - wczyta dane z pliku JSON,

  - wypisze imię i nazwisko:


    Anna Kowalska


Załóż, że:

– plik istnieje,

– klucz "grades" zawsze jest obecny,

– lista ocen nie jest pusta.

In [ ]:
import json

def names(filename):
  with open(filename) as plik:
      dane = json.load(plik)
      print(f"{dane['name']} {dane['surname']}")

names('student.json')

Anna Kowalska